.nav-item-c a:hover{
  color: #5f1111;
}
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.body-container{
  max-width: 1100px;
  margin: auto;
}
.nav-wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #2f2f2f;
  color: #fff;
}
.nav-item-a{
  grid-column: 1 / 2;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.nav-item-a h2{
  font-size: 2em;
  text-shadow: 1.5px 1.5px 2px #111;
}
.nav-item-a a{
  text-decoration: none;
  color: white;
}
.nav-item-c{
  grid-column: 3 / 4;
  display: flex;
  align-items: center;
}
.nav-item-c span{
  width: 40%;
}
.nav-item-c a{
  text-decoration: none;
  color: white;
}
.hero-banner{
  background-image: url(../assets/cs50project_hero.jpg);
  /* Photo by rawpixel.com on Unsplash */
  height: 565px;
  opacity: 0.85;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.section-line{
  margin: 0;
  height: 3px;
  border: none;
}
.hero-banner h2{
  display: flex;
  align-self: flex-end;
  margin:0 0 0 30px;
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#cta-button{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid white;
  width: 200px;
  height: 50px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#cta-button:hover {
  background-color: white;
  border: none;
  color: #111;
}

@media (max-width:700px){
  .nav-wrapper{
    grid-template-columns: 1fr 1fr;
  }
  .nav-item-c{
    grid-column: 2 / 3;
    flex-wrap: wrap;
  }
  .hero-banner{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .hero-banner h2{
    align-self: center;
  }
  #cta-button{
    align-self: center;
  }
}
