{% extends "base.html" %}
{% block content %}
<div class="content_wrapper">
  <div class="login_container">
    <div class="info_message">
      {% if e == "0" %}
      <p class="error_message">Wrong Email!</p>
      {% elif e == "1" %}
      <p class="error_message">Wrong Password!</p>
      {% elif e == "r_success" %}
      <p class="success_message">Registration successful!</p>
      {% endif %}
    </div>
    <h2>Please login:</h2>
    <form class="login" action="/login" method="post">
      <ul class="login_ul">
        <li>
          <label for="email">Email</label>
          <input class="email" type="email" name="email" required>
        </li>
        <li>
          <label for="password">Password</label>
          <input class="password" type="password" name="password" required>
        </li>
      </ul>
        <button class="submit_l" type="submit" name="submit_l">Login</button>
    </form>
    <p> First time here? <a href="/register">Create a new Account</a>
  </div>
</div>
{% endblock %}
