{% extends "base.html" %}
{% block content %}
<div class="content_wrapper">
  <div class="login_container">
    <div class="error_red">
      {% if e == "2" %}
      <p class="error_message">An Account with this Email already exists.</p>
      {% elif e == "3" %}
      <p class="error_message">Please check the provided passwords.</p>
      {% endif %}
    </div>
    <h2>Register a new account:</h2>
    <form class="login" action="/register" method="post">
      <ul class="login_ul">
        <li>
          <label for="first_name">First Name</label>
          <input class="first_name" type="text" name="first_name" required>
        </li>
        <li>
          <label for="last_name">Last Name</label>
          <input class="last_name" type="text" name="last_name" required>
        </li>
        <li>
          <label for="email">Email</label>
          <input class="email" type="email" name="email" required>
        </li>
        <li>
          <label for="password">Password</label>
          <input class="password" type="password" name="password" required>
        </li>
        <li>
          <label for="password2">Repeat Password</label>
          <input class="password2" type="password" name="password2" required>
        </li>
      </ul>
        <button class="submit_l" type="submit" name="submit_l">Register</button>
    </form>
    <p> You already have an Account? <a href="/login">Login</a>
  </div>
</div>
{% endblock %}
